###
 # @Description: 
 # @Author: Hungry
 # @Date: 2022-03-07 19:43:33
 # @LastEditors: Hungry
 # @LastEditTime: 2022-03-07 19:51:07
### 
# Local Env
LOCAL_PRIVATE_KEY_1="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
LOCAL_PRIVATE_KEY_2="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
LOCAL_PRIVATE_KEY_3="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
LOCAL_PRIVATE_KEY_4="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"


# Mainnet Env

TYPECHAIN_TARGET="ethers-v5"

TEST_ACCOUNT1_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
TEST_ACCOUNT2_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
TEST_ACCOUNT3_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
TEST_ACCOUNT4_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
TEST_ACCOUNT5_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"


MOLE_FEEDER_KEY_ADDRESS=""
MOLE_REINVESTOR_ADDRESS=""
MOLE_DELTA_NEUTRAL_DEFAULT_OPERATOR_ADDRESS=""
MOLE_BONUS_ADDRESS=""



# Avalanche Env
AVALANCHE_TESTNET_PRC="https://api.avax-test.network/ext/bc/C/rpc"
AVALANCHE_MAINNET_RPC="https://api.avax.network/ext/bc/C/rpc"


AVALANCE_MAINNET_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
AVALANCHE_TESTNET_PRIVATE_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

